<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto">
	<uses-permission android:name="android.permission.INTERNET" />
	<!--定位-->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<!--电池-->
	<uses-permission android:name="android.permission.BATTERY_STATS" />

	<!--拍照、存取-->
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
	<!-- Required only if your app needs to access images or photos that other apps created -->
	<uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
	<!-- Required only if your app needs to access videos that other apps created -->
	<uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
	<!-- Required only if your app needs to access audio files that other apps created -->
	<uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
	<application android:label="AvaMaui" android:icon="@drawable/Icon" />
</manifest>
